<ion-header translucent>
  <ion-toolbar>
    <ion-title>Bluetooth Settings</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="modalService.dismissModel()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <div *ngIf="isBluetoothEnabled; else isBluetoothDisabled">
    <div *ngIf="showDevices; else isLoading">
      <ion-list *ngIf="hasFoundDevice">
        <ion-item *ngFor="let device of devices" (click)="bluetoothService.connectToDevice(device.address)" >
          <ion-label>
            <h2>{{device.name}}</h2>
            <p>{{device.address}}</p>
          </ion-label>
        </ion-item>
        <ion-button (click)="bluetoothService.disconnectBluetooth()">Disconnect</ion-button> 
      </ion-list>
      <ion-label *ngIf="!hasFoundDevice">
        <h1>No devices found</h1>
      </ion-label>
    </div>
    <ng-template #isLoading>  
      <h1>Loading...</h1>
    </ng-template>
  </div>
  <ng-template #isBluetoothDisabled >non è attivo</ng-template>
</ion-content>
<ion-button  (click)="ngOnInit()">Refresh
<ion-footer translucent>
</ion-footer>
</ion-button>