<ion-header>
  <ion-toolbar>
    <ion-title>
      Roll
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Roll</ion-title>
    </ion-toolbar>
  </ion-header>

<!--   <app-explore-container name="Tab 1 page"></app-explore-container> -->
<ion-card *ngFor="let function of functions">
  <ion-card-header class="ion-activatable ripple-parent"  (click)="modalService.openModel(function.Component)">
    <ion-card-title>{{function.Name}}</ion-card-title>
    <ion-card-subtitle>{{function.Content}}</ion-card-subtitle>
    <ion-ripple-effect type="unbounded"></ion-ripple-effect>
  </ion-card-header>
</ion-card>

</ion-content>
