<ion-header>
  <ion-toolbar>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Settings</ion-title>
    </ion-toolbar>
  </ion-header>
  
    <ion-card>
      <ion-card-header (click)="presentModal()">
        <ion-card-title>Bluetooth setting</ion-card-title>
        <ion-card-subtitle>Set Bluetooth</ion-card-subtitle>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Altra funzione </ion-card-title>
        <ion-card-subtitle>che fara qualcosa</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    
    <ion-card>
      <ion-card-header>
        <ion-card-title>Altra funzione </ion-card-title>
        <ion-card-subtitle>che fara qualcosa</ion-card-subtitle>
      </ion-card-header>
    </ion-card>

</ion-content>
